@model IEnumerable<JewelryReal.Models.Discount>
@{
    ViewBag.Title = "Все скидки";
}
<form method="post" action="~/Home/SearchByName">
    <label>Поиск:</label><br />
    <input type="text" name="text" /><br />
    <input type="submit" value="Отправить" />
</form>
<table class="table">

    @foreach (var item in ViewBag.FoundDiscounts)
    {
        if (item.Discount_percent == 0)
        {
            <tr>
                <td>@item.Discount_name</td>
                <td>
                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Discount_percent">Подробнее</a> |
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Discount_percent">Удалить</a>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>@item.Discount_name</td>
                <td>
                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Discount_percent">Подробнее</a> |
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Discount_percent">Изменить</a> |
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Discount_percent">Удалить</a>
                </td>
            </tr>
        }
    }
</table>