@model JewelryReal.Models.Product
@{
    ViewBag.Title = Model.Name;
}
<h2>Изделие @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Название изделия</dt>
        <dd>@Model.Name</dd>
        <dt>Вес изделия</dt>
        <dd>@Model.Mass</dd>
        <dt>Цена изделия</dt>
        <dd>@Model.Price</dd>
        <dt>Тип изделия</dt>
        <dd>@Model.Product_type.Type_name</dd>
        @foreach (var item in Model.Materials)
        {
            <dt>Использованный материал</dt>
            <dd>@item.Material_name</dd>
        }
    </dl>
</div>